 <div class="formcenter">
    <form class="col s12 ">
        <div class="row center">
            <img src="https://img.icons8.com/dotty/80/000000/user-engagement-male.png">
                  </div>
        <div class="center admin">
            <h6>Log in to DocterAI admin</h6>
        </div>
     <div class="row center">
        <div class="input-field col s12">
            <i class="material-icons prefix blue-text">email</i>
          <input id="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>
       <div class="row center">
        <div class="input-field col s12 ">
            <i class="material-icons prefix blue-text">https</i>
          <input id="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row center">
      <button type="submit">Login</button>
      </div>
      <div class="row center">
          <p>Create new Account !<a href="#" style="padding: 5px;">Signup</a></p>
          </div>
  </form>
  </div>
